<!DOCTYPE HTML>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/grades}">Grades</a>
    </div>   
    <div class="container">
      <h2>Grade Portal</h2>
      <form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
        <label for="name" style="color: aliceblue;">Student Name</label>
        <input id="name" type="text" placeholder="John" th:field="*{name}">
        <br>
        <br>
        
        <label for="grade" style="color: aliceblue;">Student Grade</label>
        <input id="grade" type="text" placeholder="A+" th:field="*{score}">  
        <br>
        <br>
        
        <label for="subject" style="color: aliceblue;">Subject</label>
        <input id="subject" type="text" placeholder="Math" th:field="*{subject}">
        <br>
        <br>

        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Submit">
      </form>  
    </div>
</body>
</html>